<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta http-equiv="refresh" content="5; url=http://127.0.0.1:8000/"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script type="text/javascript">
        function actualizarWS(){location.reload(true);}
        //Función para actualizar cada 30 segundos(30000 milisegundos)
        setInterval("actualizarWS()",30000);
        </script> -->
    <title>Document</title>
</head>
<body>
    <h1>🚀 Webservice en ejecución 🚀</h1>
    <p>{{respuesta}}</p>
</body>
</html>
