<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="5; url=https://ws-bta2.egteamdev.tk/testing-errores/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TEACHERS</h1>

    <h1>CORE_USER_CREATE_USERS</h1>

    <p>
        {% for line in registro %}
        <span>
            {{line}}
        </span>
    </br>
        {% endfor %}
        <form action='/testing-errores/' method ='post'>
            <input hidden type="text" value="users_logs" name = "tag">
            <input type="submit" value= "Limpiar Logs" >
        </form>
    </p>
    <h1>ENRROL_MANUAL_ENROL_USERS</h1>

    <p>
        {% for line in enrol_users %}
        <span>
            {{line}}
        </span>
    </br>
        {% endfor %}
        <form action='/testing-errores/' method ='post'>
            <input hidden type="text" value="enrol_users_logs" name = "tag">
            <input type="submit" value= "Limpiar Logs" >
        </form>
    </p>

    <h1> ADD CURSOS</h1>

    <p>
        {% for line in regsitro_cursos %}
        <span>
            {{line}}
        </span>
    </br>
        {% endfor %}
        <form action='/testing-errores/' method ='post'>
            <input hidden type="text" value="cursos_logs" name = "tag">
            <input type="submit" value= "Limpiar Logs" >
        </form>
    </p>

    <h1>CORE_GROUP_ADD_GROUP_MEMBERS</h1>

    <p>
        {% for line in add_group_members_logs %}
        <span>
            {{line}}
        </span>
    </br>
        {% endfor %}
        <form action='/testing-errores/' method ='post'>
            <input hidden type="text" value="add_group_members_logs" name = "tag">
            <input type="submit" value= "Limpiar Logs" >
        </form>
    </p>

    <h1>CREATE_GROUPS_LOGS</h1>

    <p>
        {% for line in create_groups_logs %}
        <span>
            {{line}}
        </span>
    </br>
        {% endfor %}
        <form action='/testing-errores/' method ='post'>
            <input hidden type="text" value="create_groups_logs" name = "tag">
            <input type="submit" value= "Limpiar Logs" >
        </form>
    </p>

    <h1>CORE_COURSE_CREATE_CATEGORÍAS</h1>

    <p>
        {% for line in create_categories_logs %}
        <span>
            {{line}}
        </span>
    </br>
        {% endfor %}
        <form action='/testing-errores/' method ='post'>
            <input hidden type="text" value="create_categories_logs" name = "tag">
            <input type="submit" value= "Limpiar Logs" >
        </form>
    </p>

</body>
</html>
