<!-- extends hereda la plantilla base -->
{% extends 'base/base.html' %}

<!-- Listamos todas las ciudades -->
{% block contenido %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <a href="{% url 'course_new' %}" class="btn btn-info"><span class="fa fa-plus-circle"></span> Agregar Curso</a>
    </div>
    <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>nivel_id</th>
                    <th>category</th>
                    <th>sortorder</th>
                    <th>fullname</th>
                    <th>shortname</th>
                    <th>idnumber</th>
                    <th>summary</th>
                    <th>summaryformat</th>
                    <th>format</th>
                    <th>showgrades</th>
                    <th>newsitems</th>
                    <th>startdate</th>
                    <th>enddate</th>
                    <th>relativedatemode</th>
                    <th>marker</th>
                    <th>maxbytes</th>
                    <th>legacyfiles</th>
                    <th>showreports</th>
                    <th>visible</th>
                    <th>visibleold</th>
                    <th>download</th>
                    <th>content</th>
                    <th>groupmode</th>
                    <th>groupmodedeforce</th>
                    <th>defaultgroupingid</th>
                    <th>lang</th>
                    <th>calendartype</th>
                    <th>theme</th>
                    <th>timecreated</th>
                    <th>timemodified</th>
                    <th>requested</th>
                    <th>enablecompletion</th>
                    <th>completionnotify</th>
                    <th>cacherev</th>
                    <th>originalcourseid</th>
                    <th>showavtivitydate</th>
                    <th>showcompletionconditions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in obj %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.nivel_id }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.sortorder }}</td>
                    <td>{{ item.fullname }}</td>
                    <td>{{ item.shortname }}</td>
                    <td>{{ item.idnumber }}</td>
                    <td>{{ item.summary }}</td>
                    <td>{{ item.summaryformat }}</td>
                    <td>{{ item.format }}</td>
                    <td>{{ item.showgrades }}</td>
                    <td>{{ item.newsitems }}</td>
                    <td>{{ item.startdate }}</td>
                    <td>{{ item.enddate }}</td>
                    <td>{{ item.relativedatemode }}</td>
                    <td>{{ item.marker }}</td>
                    <td>{{ item.maxbytes }}</td>
                    <td>{{ item.legacyfiles }}</td>
                    <td>{{ item.showreports }}</td>
                    <td>{{ item.visible }}</td>
                    <td>{{ item.visibleold }}</td>
                    <td>{{ item.download }}</td>
                    <td>{{ item.content }}</td>
                    <td>{{ item.groupmode }}</td>
                    <td>{{ item.groupmodedeforce }}</td>
                    <td>{{ item.defaultgroupingid }}</td>
                    <td>{{ item.lang }}</td>
                    <td>{{ item.calendartype }}</td>
                    <td>{{ item.theme }}</td>
                    <td>{{ item.timecreated }}</td>
                    <td>{{ item.timemodified }}</td>
                    <td>{{ item.requested }}</td>
                    <td>{{ item.enablecompletion }}</td>
                    <td>{{ item.completionnotify }}</td>
                    <td>{{ item.cacherev }}</td>
                    <td>{{ item.originalcourseid }}</td>
                    <td>{{ item.showavtivitydate }}</td>
                    <td>{{ item.showcompletionconditions }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock contenido%}