<!-- extends hereda la plantilla base -->
{% extends 'base/base.html' %}

<!-- Listamos todos los periodos academicos -->
{% block contenido %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <a href="{% url 'centro_musical_new' %}" class="btn btn-info"><span class="fa fa-plus-circle"></span> Agregar Ciclo</a>
    </div>
    <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Ciudad</th>
                    <th>Departamento</th>
                    <th>Cod_sige</th>
                    <th>Nombre centro Musical</th>
                </tr>
            </thead>
            <tbody>
                {% for item in obj %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.ciudad }}</td>
                    <td>{{ item.departamento}}</td>
                    <td>{{ item.cod_sige }}</td>
                    <td>{{ item.nombre_centro_musical }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock contenido%}