{% extends 'base/base.html' %}

{% block contenido %}
<form method="POST">
    <div class="panel panel-default">
        <div class="panel-heading">
                Editar/Crear Grupo
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>
            <a href="{% url 'list_grupo' %}" class="btn btn-success"><span class="fa fa-undo"></span>Cancelar</a>
        </div>
    </div>
</form>
{% endblock contenido %}