<!-- extends hereda la plantilla base -->
{% extends 'base/base.html' %}

<!-- Listamos todos los programas -->
{% block contenido %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <a href="{% url 'programa_new' %}" class="btn btn-info"><span class="fa fa-plus-circle"></span> Agregar Ciclo</a>
    </div>
    <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>nombre</th>
                    <th>periodo_academico</th>
                    <th>codigo_sige</th>
                </tr>
            </thead>
            <tbody>
                {% for item in obj %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.periodo_academico }}</td>
                    <td>{{ item.cod_sige }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock contenido%}